@import '../../styles/main.scss';

.khoahoc {
 
  :global {
    .khoahoc-list{
      .list-item{
        cursor: pointer;
        &:hover{
         figure{
          img{
            transform: scale(1.2);
          }
          span{
            color: var(--brand-primary);
          }
         }
        }
        figure{
          position: relative;
          overflow: hidden;
          img{
            z-index: -1;
            height: 50rem;
            object-fit: cover;
            transition: all 0.3s ease;
            transform: scale(1);
            @include Responsive(IPAD){
              height: 40rem;
          }
          
          }
          span{
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 2rem;
            font-size: 9rem;
            font-weight: bold;
            color: #fff;
            transition: all 0.3s ease;
          }
        }
        .item-content{
          h4, .sub{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: block;
          }
         
          li{
            &:not(:last-child){
              margin-bottom: 8px;
            }
            display: flex; 
            align-items: center;
            gap: 1.6rem;
          }
        }
      }
    }
  }
}
