@import '../../../styles/main.scss';

.menuFixedInfo {
  z-index: 999;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  :global {
    .bg-cover {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: var(--background-orther);
      opacity: 0.3;
    }
    .menufix-container {
      background: #fff;
      padding: 3.2rem;
      height: 100vh;
      max-width: 40rem;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
      .icon-close {
        font-size: 3rem;
        margin-bottom: 4rem;
        display: flex;
        justify-content: flex-end;
        svg {
          cursor: pointer;
          box-shadow: 0;
          transition: all 0.4s ease-in-out;
          transform: rotate(0);
          padding: 4px;
          &:hover {
            background: #000;
            color: #fff;
            box-shadow: 4px 4px #ccc;
          }
        }
      }
      figure {
        max-width: 14rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
      }
    
      .list-info {
        ul {
          li {
            justify-content: center;
            &:not(:last-child) {
              margin-bottom: 1.2rem;
            }
          }
        }
      }
      ul{
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.6rem;
        align-items: center;
        li {
          font-size: 1.6rem;
          cursor: pointer;
          display: inline-block ;
          width: fit-content;
          position: relative;
          &:after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 0;
            height: 3px;
            background: var(--brand-primary);
            transition: all 0.5s ease-in-out;
          }
          &:hover {
            &:after {
              width: 100%;
            }
          }
        }
        .li-active {
          &:after {
            width: 100%;
          }
        }
      }
    }
    .header-social{
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1.6rem;
      a{
        display: flex;
        align-items: center;
      }
      .icon-header{
        font-size: 2rem;
        color: var(--brand-primary);
      }
      .icon-tel{
        transform: rotate(-270deg);
      }
      a:hover{
        color: var(--brand-primary);
      }
    }
  }
}
