@import '../../styles/main.scss';


.headerInner {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 99;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 6px 12px -2px, rgba(0, 0, 0, 0.1) 0px 3px 7px -3px;
  :global {
    .header-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header-logo {
        img{
          height: 4.8rem;
          width: auto;
        }
      }
      .header-main {
        display: flex;
        align-items: center;
        @include Responsive(IPAD) {
          display: none;
        }
        ul {
          display: flex;
          align-items: center;
          padding-left: 0;
          margin-bottom: 0;
          li {
            font-size: 1.6rem;
            cursor: pointer;
            position: relative;
            &:after {
              position: absolute;
              content: '';
              bottom: 0;
              left: 0;
              width: 0;
              height: 3px;
              background: var(--brand-primary);
              transition: all 0.5s ease-in-out;
            }
            &:hover {
              &:after {
                width: 100%;
              }
            }
          }
          .li-active {
            &:after {
              width: 100%;
            }
          }
        }
      }
      .header-social{
        display: flex;
        align-items: center;
        gap: 1.6rem;
        margin-left: 3.2rem;
        .icon-header{
          font-size: 2rem;
          color: var(--brand-primary);
        }
        .icon-tel{
          transform: rotate(-270deg);
        }
        a{
          transition: all 0.3s ease;
        }
        a:hover{
          color: var(--brand-primary) !important;
        }
      }
    }
    .menu-info {
      display: none;
      @include Responsive(IPAD) {
        display: block;
      }
      opacity: 0;
      visibility: hidden;
      transform: translateX(100%);
      transition: all 0.4s ease-in-out;
      &--show {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
      }
    }
    .header-burger{
      display: none;
      @include Responsive(IPAD) {
        display: block;
      }
    }
  }
}
